-- Add platform column to reels table
-- This allows storing which platform the video is from (instagram, youtube, tiktok, facebook, linkedin)

ALTER TABLE reels ADD COLUMN IF NOT EXISTS platform VARCHAR(50) DEFAULT 'instagram';

-- Add comment to column for documentation
COMMENT ON COLUMN reels.platform IS 'Social media platform: instagram, youtube, tiktok, facebook, or linkedin';
